<div class="container">
  <div class="alert alert-danger">Hello</div>
  <div class="card p-3">
    <h1>{{ student.fullName }}</h1>
    <img
      src="{{ student.img }}"
      class="w-50 h-50"
      alt="{{ student.fullName }}"
    />
    <p>Adddress: {{ student.adddress }}</p>
    <p>Age: {{ student.age }}</p>
    <p>Avg Scrope: {{ student.avgScrope }}</p>
  </div>

  <br class="m-5" />
  <h1 class="text-center">Person(Bài 1 - Lab 1)</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Year</th>
        <th scope="col">Passed</th>
      </tr>
    </thead>
    <tbody id="people"></tbody>
  </table>

  <br class="m-5" />
  <h1 class="text-center">Product List(Bài 2 - Lab 2)</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody id="product"></tbody>
  </table>
</div>
